gls {
   process.executor = 'google-lifesciences'
   process.container = 'nextflow/rnaseq-nf:latest'
   workDir = 'gs://hn-nf22/WORK_DIR'
   google.location = 'europe-west2'
   google.region  = 'europe-west4'
   google.project = 'first-argo'
   google.lifeSciences.preemptible = true
   google.lifeSciences.usePrivateAddress = true

}
