profiles{
  gls {
    process.executor = 'google-lifesciences'
    process.container = 'nextflow/rnaseq-nf:latest'
    workDir = 'gs://argo-nf-dev/work'
    google.location = 'europe-west2'
    google.region  = 'europe-west4'
    google.project = 'argo-nf-dev'
    google.lifeSciences.bootDiskSize = 50.GB
    google.lifeSciences.preemptible = true
    google.lifeSciences.usePrivateAddress = true


  }

}
